body {
  font-size: 16px;
  font-weight: 100;
  font-family: 'Helvetica', sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 0 40px;
  padding: 10px;
  background-color: #E3D8CC;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #6c665996;
  padding: 0;
  z-index: 100;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  width: 100%;
}

.nav-links a {
  margin: 10px;
  color: #f0f0f0;
  text-decoration: none;
}

.section-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  margin: 30px 100px;
  border-radius: 15px;
  background-color: #aea598a0;
  border-bottom: 1px solid #8f94c669;
  border-left: 1px solid #8f94c669;
  box-shadow: 0 2px 4px #A3998990;
  text-align: center;
  z-index: 999;
}

.section-box p{
  padding: 0px 40px;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 150px;
  border-bottom: 1px solid #4f536f69;
  border-left: 1px solid #4f536f69;
  border-radius: 10px;
  background-color: #c9c1afa0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card p{
  text-align:left;
  line-height: 1.25;
  color: #f0f0f0;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: #4f536f84;
  text-shadow: 0px;
  border: 0px;
}

a:hover {
  color: #4F536F;
}

a {
  color: #79955b;
  text-decoration: none;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.skill-card {
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #4f536f69;
  border-left: 1px solid #4f536f69;
  border-radius: 10px;
  background-color: #c9c1afa0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 130px;
  width: 100px;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: #4f536f84;
  box-shadow: 0;
  border: 0px;
  text-shadow: 0 0 5px #f0f0f0;
}

.skill-card-image {
  height: 75px;
  width:75px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-image {
  height: 210px;
  border-radius: 10px;
  margin: 25px 0 0 0;
}

.project-image{
  height: 150px;
  width: 150px;
  border-radius: 15px;
  margin: 10px 10px 10px 0px;
}

.contact-image{
  height: 40px;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.contact-image:hover{
  transform: scale(1.15);
}

h3 {
  position: fixed;
  font-size: 110px;
  font-weight: 100;
  right:0;
  left:0;
  color: #f0f0f0;
  text-align: center;
}

h5 {
  position: fixed;
  font-size: 30px;
  font-weight: 100;
  right:0;
  left:0;
  color: #f0f0f0;
  font-family: 'Helvetica', sans-serif;
  text-align:center;
}

h2 {
  font-size: 24px;
  font-weight: 100;
  border-bottom: 1px solid #79955b;
  padding: 5px 15px;
  text-shadow: 0 0 3px #dfdfdf;
  color: #f0f0f0;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 100;
  color: #f0f0f0;
  font-family: 'Helvetica', sans-serif;
}

h4 {
  font-size: 14px;
  font-weight: 100;
  color: #f0f0f0;
  font-family: 'Helvetica', sans-serif;
}

.about-box p{
  margin: 0px 30px 10px;
  font-size: 17px;
  font-family: 'Helvetica', sans-serif;
  text-align:left;
  line-height: 1.25;
  font-weight: 100;
}

.transparent-text {
  color: transparent;
}


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #6c665996;
  padding: 0;
  z-index: 100;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.sidebar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 10px;
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 100;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #4f536f;
}

.sidebar.collapsed {
  transform: translateX(-250px);
}

.toggle-button {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  padding: 10px;
  background-color: #6c665996;
  border: none;
  cursor: pointer;
  color: #f0f0f0;
  font-weight: 100;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #4f536f;
}
